/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .footer-widget-alignment-left {
  text-align: left;
}

@media only screen and (max-width: 680px) {
  .mkdf-page-footer .footer-widget-alignment-left {
    text-align: inherit;
  }
}

.mkdf-page-footer .footer-widget-alignment-center {
  text-align: center;
}

@media only screen and (max-width: 680px) {
  .mkdf-page-footer .footer-widget-alignment-center {
    text-align: inherit;
  }
}

.mkdf-page-footer .footer-widget-alignment-right {
  text-align: right;
}

@media only screen and (max-width: 680px) {
  .mkdf-page-footer .footer-widget-alignment-right {
    text-align: inherit;
  }
}

.no-touchevents body:not(.error404) .mkdf-page-footer.mkdf-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.mkdf-right-side-menu-opened .mkdf-page-footer.mkdf-footer-uncover {
  left: -270px;
}

.mkdf-page-footer .mkdf-text-logo-footer .mkdf-text-logo-left {
  display: inline-block;
  padding-right: 35px;
  vertical-align: top;
  font-family: "TuesdayNight";
  font-size: 40px;
  line-height: 2;
  color: #000;
}

.mkdf-page-footer .mkdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #000;
  border-top: 0 solid #cbcbcb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-center {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left {
  text-align: left;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-right {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 76px 0 129px;
}

@media only screen and (max-width: 680px) {
  .mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
    padding: 68px 0 96px;
  }
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-full-width {
  padding: 76px 40px 129px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #000;
  border-top: 0 solid #cbcbcb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {
  padding: 50px 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid.mkdf-compact-spacing {
  padding: 9px 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width {
  padding: 50px 40px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width.mkdf-compact-spacing {
  padding: 9px 40px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner #menu-footer-menu-bottom {
  text-align: center;
  margin: 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner #menu-footer-menu-bottom > * {
  display: inline-block;
  margin: 6px 0;
  padding: 0 21px;
}

@media only screen and (max-width: 1024px) {
  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner #menu-footer-menu-bottom > * {
    display: block;
  }
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner #menu-footer-menu-bottom > * a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner #menu-footer-menu-bottom > * a:hover {
  color: #9f9f9f;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
